<app-login-navbar></app-login-navbar>
<mat-card class="mat-elevation-z2 login-content">
  <mat-card-title>Create User</mat-card-title>
  <mat-card-content>
    <form [formGroup]="createAccountForm">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="User Name"
            formControlName="Username"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="Password"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="Email"
          />
        </mat-form-field>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>User Type</mat-label>
        <mat-select formControlName="UserType">
          <mat-option
            *ngFor="let userType of userTypes"
            [value]="userType.value"
          >
            {{ userType.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="submit-button">
        <button [disabled]="createAccountForm.invalid" mat-button type="submit">
          Create
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
