<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-button-toggle (click)="home()">
        <mat-icon>home</mat-icon>Home
      </mat-button-toggle>
    </mat-list-item>

    <mat-list-item *ngIf="IsAdminUser()" role="listitem">
      <mat-button-toggle (click)="userList()">
        <mat-icon>list</mat-icon>User List
      </mat-button-toggle>
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-button-toggle (click)="setting()">
        <mat-icon>account_circle</mat-icon>
        Settings
      </mat-button-toggle>
    </mat-list-item>
  </mat-list>
</mat-button-toggle-group>
<mat-divider></mat-divider>

<button (click)="logout()" mat-button class="menu-button">
  <mat-icon>logout</mat-icon>
  <span>Log Out</span>
</button>
