<mat-list>
  <mat-list-item role="listitem">
    <button
      mat-button
      class="menu-button"
      [style.background-color]="homeToggle ? '#e9ecef' : ''"
      (click)="home()"
    >
      <mat-icon>home</mat-icon>Home
    </button>
  </mat-list-item>

  <mat-list-item *ngIf="IsAdminUser()">
    <button
      mat-button
      class="menu-button"
      [style.background-color]="userListToggle ? '#e9ecef' : ''"
      (click)="userList()"
    >
      <mat-icon>list</mat-icon>User List
    </button>
  </mat-list-item>

  <mat-list-item>
    <button
      mat-button
      class="menu-button"
      [style.background-color]="settingToggle ? '#e9ecef' : ''"
      (click)="setting()"
    >
      <mat-icon>account_circle</mat-icon>
      Settings
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <button (click)="logout()" mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-list-item>
</mat-list>
